$color-background-dark: #27403D;
$color-background-light: #eee;
$color-background-lightest: #efefef;
$color-text: #111;
$color-link: #0055FF;
$color-link-hover: #0055ff;
$color-highlight:  #5AAC89;



*{
	

	font-family: "Chivo", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";


}

nav{
	background: rgba(255,255,255,1);
}

:root {
  font-size: 112.5%;
  body {
    margin: 0;
   	font-weight: 400;
    font-size: 1rem;
    line-height: 2.2rem;
  }
}

/* title on cards */
h4{
	font-size: 1.6rem;
	line-height: 2.8rem;
}

.h4{
	font-size: 1.6rem;
	line-height: 2.8rem;
}

/* title on article */
h3{
	font-size: 2.4rem;
	line-height: 3.6rem;
}

h5{
	margin-bottom: 0;
}

p{
	margin-bottom: 0;
}

/* header above cards */
.display-4{
	font-weight: 100;
	color: #828282;
	font-size: 2rem;
}

.card{
	border: none;
	border-radius: 0.8rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 0rem;
	padding-top: 0rem;
}


hr{
	margin: 0;
	padding: 0;
}

.button{
	-webkit-box-shadow: none;
	
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:active:focus{
	background: transparent;
	color: inherit;
	-webkit-box-shadow: none;
	border: 1px solid black;
}

.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus{
	-webkit-box-shadow: none;
	background: transparent;
	-webkit-box-shadow: none;
	color: black;
	border: 1px solid black;

	
}

.text-white{
	color: white;
}

.text-white-50{
	color: rgba(255, 255, 255, 0.5);
}
.text-blue{
	color: #0055ff;
}

.text-grey{
	color: #828282;
}

.text-light-grey{
	color: #c2c2c2;
}

.big-button, .big-button:focus{
	background: transparent;
	color: #0055ff;
	border: 1px solid #0055ff;
}

.big-button:hover{

	background-color: #0055ff;
	color: white;
	border: 1px solid #0055ff;
}

.ballot{
	color: black;
	background-color: #a3ffd2;
}

.nav-tabs .nav-link.active{
	background: transparent;
	border: 1px solid lightgrey;
	border-bottom: 1px solid #ededed;
}

.seal{
	color: black;
	background-color: #a3e6ff;
}

.ballot-checkbox{
	background-image: url("/img/ballot-checkbox.svg");
	width: 3rem;
	height: 3rem;
}

.ballot-btn:active, .ballot-btn:hover, .ballot-btn:focus{
	background: transparent;
	-webkit-box-shadow: none;
}

.card-content{
	/*border: 1px solid red; */
	display: flex; 
	flex-direction: column; 
	justify-content: space-between; 
	padding-bottom: 0.2rem
}

.category-card{
	min-height: 12rem; 
	max-height: 12rem; 
}

.category-header{
	min-height: 6rem; 
	max-height: 6rem; 
}

.custom-select{
	background-color: #ededed;
	color: black;
}

.article-card{
	min-height: 20rem; 
	max-height: 20rem; 
}

.article-card-search{
	min-height: 8rem; 
	max-height: 8rem; 
}

.member-card{
	min-height: 8rem; 
	max-height: 8rem; 
}

.form-control, .form-control:focus{
	border: 0px;
	padding: 0px;
	background: transparent;
	-webkit-box-shadow: none;
	border-radius: 0;
}

.form-text-edit:focus{
	color: black;
	background: transparent;
	-webkit-box-shadow: none;
	border-bottom: 2px solid #0055ff;
}

.bottom-line{
	border-bottom: 1px solid lightgrey;
}

.bottom-line-white{
	color: rgba(255, 255, 255, 0.8);
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.bottom-line-white:focus{
	color: white;
	border-bottom: 2px solid white;
}

.text-prewrap{
	white-space:pre-wrap;
}

.custom-file-input{
	background: transparent;
}

.form-group{
	margin: 0;

}
.control-label{
	margin-bottom: 0;
}


.navbar-brand {
	font-size: 1rem;
}

.navbar-nav{
	color: red;
}

.badge{
	font-size: 1rem;
	font-weight: 400;
}


.logo-header {
	height: 2.4rem;

}

.grey-bg{
	background: #ededed;
}



.tool-button, .tool-button:active, .tool-button:focus{
	background: transparent;
	border: 1px solid;
	color: black;
}

.tool-button-icon, .tool-button-icon img{
	height: 1.2rem;
	vertical-align: sub;
}

.test-border{
	border: 1px solid red;
}


$primary-color: $color-text;
$highlight-color: #FC0;

/*
	pink: #ff7a93;
	blue: #0055ff;
	green: #00bd8e;
	grey: #828282;
	medium grey: #c2c2c2;
	light grey: #ededed;
	ballot green: a3ffd2;
*/
