<template>
	<div class="justify-content-center  row">
		
		<div class="col-10 ">
			<!-- section header with tool -->
			<div class="row my-3 " >
				<div class="col" style="display: flex; justify-content: space-between; align-items: baseline">
					<h1 class='display-4 '>Account</h1>
					<b-button v-on:click="activateEditMode"  class='float-right tool-button ' v-if="!isInEditMode">
						<p class="">Edit account<img class="ml-2 tool-button-icon "  src="/img/icon_pencil_black.svg"/></p> 
						
					</b-button>
				</div>
			</div>
			
			

			<div class="my-3">
				<b-form @submit="updateAccount">

					<div class="row">
						
						<div class="col-4 thumbnail-container">

							<div class="thumbnail-container img-thumbnail-cover" :style='generateBgImage()'/>
							

						
						</div>
						<div class="col-8">
							<div class="vertical-center" v-if="!isInEditMode" >
								<h2>
								{{ username }} 
								</h2>
								<small>{{ user_id }}</small>
								<h6 class="text-muted" >
									<a :href="generateMail()">{{ email }}</a>
								</h6>
								<h6>{{ privilegeLabel }}<span class="text-muted"> since {{ formatDate(createdAt) }}</span></h6>
							</div>
						
							<div class="vertical-center" v-if="isInEditMode" >
								<b-form-group
									class="my-2"
									id="username-group"
									label="Username"
									label-for="username"
									description=""
									label-cols="2"
									>
									<b-form-input
										id="username"
										class="form-text-edit bottom-line"
										v-model="fullName"
										type="text"
										
										placeholder="Pick a username">
									</b-form-input>
								</b-form-group>
								<b-form-group
									id="email-group"
									class="my-2"
									label="Email"
									label-for="email"
									label-cols="2"
									>
									<b-form-input
									id="email"
									v-model="email"
									type="email"
									class="form-text-edit bottom-line"
									placeholder="Enter email">
									</b-form-input>
								</b-form-group>
								<b-form-group
									id="password-group"
									class="my-2"
									label="Password"
									label-for="password"
									label-cols="2"
								>
									<b-form-input
										id="password"
										type="password"
										v-model="password"
										placeholder="Change password (optional)"
										class="form-text-edit bottom-line"
										>
									</b-form-input>
								</b-form-group>

								
								<b-form-group
									id="fieldset-horizontal"
									class="my-2"
									label-cols = "2"
									description=""
									label="Picture"
									label-for="image"
									
								>
									<b-form-file
										class="form-text-edit bottom-line file-drop"
										v-model="image"
										name="image"
										id="image"
										ref="image"
										placeholder="Choose or drop a profile picture here..."
										drop-placeholder="Drop image here..."
										
									></b-form-file>
								</b-form-group>
							
							</div>

						</div>					
						

					</div>


					<div class="my-3">
						<label for="description" v-if="isInEditMode">Description</label>
						<b-form-textarea
						id="description"
						v-if="isInEditMode"
						v-model="description"
						type="description"
						placeholder="Tell something about yourself and your household."
						rows="3"
						max-rows="8"
						no-auto-shrink
						class="form-text-edit bottom-line"
						>
						</b-form-textarea>

						
					</div>
					<div class="my-3">
						<label for="description" v-if="!isInEditMode">Description</label>
						<b-form-textarea
						id="description"
						v-if="!isInEditMode"
						v-model="description"
						type="description"
						placeholder="You don't have a description yet. Edit your account to add some additional information about yourself and your household."
						rows="3"
						max-rows="8"
						no-auto-shrink
						disabled
						plaintext
						>
						</b-form-textarea>
					</div>
					
					<b-button v-if="isInEditMode" variant="primary" type="submit" class="float-right">Update account</b-button>
					<b-button v-if="isInEditMode" variant="outline-secondary" v-on:click="deactivateEditMode" class="mr-3 float-right">
						Cancel
					</b-button>
					
				</b-form>
			</div>
		</div>
		<div class="col-12">
			<b-card bg-variant="dark" text-variant="white" title="No valid keypair found on this device" v-if="!localKeypair">
				<b-card-text>
					Maybe you are using a new device or cleared your browser. Fill in the secret word (Private Key) we provided upon registration to enable voting from this device.
				</b-card-text>
				<b-form-group
					class="my-5"
					id="privateKey-group"
					label="Private Key"
					label-for="privateKey"
					description=""
					label-cols="2"
					>
					<b-form-input
						id="privateKey"
						class="form-text-edit bottom-line"
						v-model="privateKey"
						type="text"
						placeholder="Fill in your private key">
					</b-form-input>
				</b-form-group>
				<div class='row'>
					<b-button href="#" class="float-right" variant="primary" v-on:click="generatePublicKey">Enter private key</b-button>
				</div>
			</b-card>
		</div>
		<div class="col-12">
			<CAMyOpenVotes />
		</div>
		
	</div>
</template>
<script>

import CONST from "../utils/constants.js";
import _ from 'lodash';

import CAMyOpenVotes from "./CAMyOpenVotes.vue"

const privilege_levels = [
	{
		value: null,
		text: 'Please select an option',
		disabled: true
	},
	{
		text: 'Admin',
		value: CONST.USER_PRIVILEGE_ADMIN
	},
	{
		text: 'Founder',
		value: CONST.USER_PRIVILEGE_FOUNDER
	},
	{
		text: 'Board',
		value: CONST.USER_PRIVILEGE_BOARD,
	},
	{
		text: 'Member',
		value: CONST.USER_PRIVILEGE_MEMBER
	},
	{
		text: 'Coach',
		value: CONST.USER_PRIVILEGE_COACH
	},
	{
		text: 'Partner',
		value: CONST.USER_PRIVILEGE_PARTNER
	},
	{
		text: 'Financier',
		value: CONST.USER_PRIVILEGE_FINANCIER
	},
	{
		text: 'Applying for membership',
		value: CONST.USER_PRIVILEGE_APPLICANT_MEMBER
	},
	{
		text: 'Applying to become coach',
		value: CONST.USER_PRIVILEGE_APPLICANT_COACH
	},
	{
		text: 'Applying for partnership',
		value: CONST.USER_PRIVILEGE_APPLICANT_PARTNER
	},
	{
		text: 'Aspirant',
		value: CONST.USER_PRIVILEGE_ASPIRANT
	},
	{
		text: 'Visitor',
		value: CONST.USER_PRIVILEGE_VISITOR
	}
]

export default {
	name: 'CAAccount',
	props: {

	},
	components: {
		CAMyOpenVotes
	},
	data() {
		return {
			email: '',
			password: '',
			fullName: '',
			createdAt: "",
			isInEditMode: 0,
			title: '',
			description: "",
			privilege: '',
			image: "",
			brand: "loading",
			selected: null,
			publicKey: null,
			privateKey: "",
			localKeypair: false,
			options: [
				{ value: null, text: 'Please select your language' },
				{ value: 'a', text: 'English' },
				{ value: 'b', text: 'Dutch' },
			],
			navItems : []
		}
	},
	computed: {
		loggedIn() {
			return (this.$store.getters.loggedIn);
		},
		currentPrivilege(){
			return (this.$store.state.privilege);
		},
		userEmail(){
			return this.$store.state.email;
		},
		username(){
			return this.$store.state.username;
		},
		user_id(){
			return this.$store.state.user_id;
		},
		profileImg(){
			return this.pathToImage(this.$store.state.profileImg);
		},
		privilegeLabel(){
			var  label = _.find(privilege_levels, level => level.value == this.$store.state.privilege).text;
			return label
		}

	},
	methods: {
		logOut(){
			this.axios
				.get(this.$API+'/users/logout')
				.then(() => {
					this.$store.commit('logOut');
					this.$router.push({ name: 'login', params: {} });
				})
				.catch(err => {
					window.console.log(err)
					this.$router.push({ name: 'welcome', params: {} });
				})
		},
		formatDate(date){
			var d = new Date(date)
			return (d.getDate()+" "+CONST.months[d.getMonth()]+" "+d.getFullYear())		
		},
		pathToImage(image){
			const remotePath =  this.$API.replace("api","");
			if(image){
				return remotePath+image;
			}else{
				return remotePath+"uploads/images/defaultUser.png";
			}
			
		},
		generateBgImage(){
			window.console.log("CAAccount store.state ", this.$store.state);
			return `background-image: url('${this.pathToImage(this.image)}')`;
		
		},
		activateEditMode(){
			this.isInEditMode = 1;
		},
		deactivateEditMode(){
			//window.console.log("CAAccount deactivateEditMode")
			this.isInEditMode = 0;
		},
		updateAccount(evt){
			evt.preventDefault();
			//window.console.log("CAAccount updateAccount >> image ", this.image)

			//first we create new formdata
			const formData = new FormData();
			formData.append('username',this.fullName);
			formData.append('description',this.description);
			formData.append('email',this.email);
			formData.append('profileImg',this.image);
			

			window.console.log("CAAccount updateAccount >> formData ", this.image)
			this.axios
				.put(this.$API+'/users/'+this.id, formData,
					{
						headers: {
							'Content-Type' : 'multipart/form-data'
						}
					})
				.then(resp => {
					this.$store.commit('logIn',resp.data)
					this.isInEditMode = 0;
				})
				.catch(this.onFailure);
			
		},
		generateMail(){

			return "mailto: "+this.email;
		
		},
		verifyPublicKey(){

			this.$CryptoWrapper.verifyAppCredentials(this.user_id)
			.then(appCredentials => {
				window.console.log(">>CAAccount > verified publicKey",appCredentials);
				if(!appCredentials){
					return this.localKeypair = false;
				}
				return this.localKeypair = true;
			})
			.catch(err => {
				window.console.log("CAAccount >> error while verifying public key",err);
			});
		},
		generatePublicKey(){

			this.$CryptoWrapper.restoreAppCredentials(this.user_id, this.privateKey, this.publicKey)
			.then(keyPair => {
				window.console.log(">> CAAccount > restored app credentials: ",keyPair);
				this.verifyPublicKey();
			})
			.catch(err => {
				window.console.log("err",err);
			})
		},	
		restorePublicKey(){

		}

	},
	mounted() {
		//window.console.log("CAAccount id from store: ",this.$store.state.user_id, "name ", this.$store.state.username, "img ", this.$store.state.profileImg );
		if(this.$store.state.user_id == -1){
			window.console.log("CAAccount > User is not logged in.");
			//return/
		}
		this.axios
			.get(this.$API+'/users/profile')
			.then(resp => {
				this.privilege = resp.data.privilege;
				this.id = resp.data._id;
				this.createdAt = resp.data.createdAt;
				this.image = resp.data.profileImg;
				this.email = resp.data.email;
				this.description = resp.data.description;
				this.fullName = resp.data.username;
				this.publicKey = resp.data.publicKey;
				window.console.log("CAAccount mounted resp: ", resp.data);
				this.verifyPublicKey();
				//
			})
			.catch(err => {
				window.console.log("CAAccount error: ",err);
			});
	},
}
</script>

<style scoped lang="scss">

.thumbnail-container{
	width: 100%;
	max-height: 15rem;
	max-width: 15rem;
	border-radius: 50%; 
}
.thumbnail-container:after{
	content: " ";
	display: block;
	padding-bottom: 100%;
}
.img-thumbnail-cover{
	background-position: center center; 
	background-size: cover; 
	
}

.ca-img-thumbnail{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 15vw; 
	height: 15vw; 
	overflow: hidden; 
	border-radius: 50%; 
	background-position: center center; 
	background-size: cover; 
	z-index: -1;
}

.vertical-center{
	position: relative; 

	top: 50%; 
	-ms-transform: 
	translateY(-50%); 
	transform: translateY(-50%);

}

</style>
