<template>
	<div>
		
		<b-card
			class="overflow-hidden text-white mb-4"
			
			:style="getColorStyle()"
			
			
			no-body
			>
			<div class="card-content category-header">
				
				<b-card-title >
					
					<!-- section header with tool -->
					<div class="row" >
						<div class="col" style="display: flex; justify-content: space-between; align-items: baseline">
							<div>{{ title }}</div>
							<b-button :to="{ name: 'editCategory', params: {id: id}}"  class='float-right tool-button text-white ' v-if="isAuthorized" style="padding-right: 0">
								<p class="">Edit category  <img class="ml-2 tool-button-icon "  src="/img/icon_pencil_white.svg"/></p> 
								
							</b-button>
						</div>
					</div>
				
					
				</b-card-title>
				<b-card-text >
					{{ description }}<br>
				</b-card-text>
			</div>	

				<!--
				<template v-slot:footer>
					<small class="text-muted">Created {{ formatDate(category.createdAt) }} </small>
					<b-link v-if="isAuhtorized" v-on:click="deleteCategory(category)" class='float-right'>🗑</b-link>
				</template>
			-->
			
		</b-card>
		

		

		<!-- section header with tool -->
		<div class="row mt-5 mb-3" >
			<div class="col" style="display: flex; justify-content: space-between; align-items: baseline">
				<h1 class='display-4 '>Articles</h1>
				<b-button v-on:click="newArticle"  class='float-right tool-button ' v-if="isAuthorized" >
					<p class="">New article <img class="ml-2 tool-button-icon "  src="/img/icon_plus_sign.svg"/></p> 
					
				</b-button>
			</div>
		</div>

		<!-- article deck -->
		<div >
			<b-card-group columns>
				<b-card
					class="overflow-hidden"
					v-for="article in _articles"
					:key="article.key"
					v-on:click="gotoArticle(article)"	
					header-bg-variant="transparent"
					header-border-variant="light"
					
					no-body
					>
					<div class="card-content article-card">
						<div class="mt-2" >
							{{ formatDate(article.createdAt) }}
							
							<p v-if="isDraft(article)" class="float-right"><b-badge pill variant="secondary">Draft</b-badge></p>
							<p v-if="isUnderVote(article)" class="float-right"><b-badge pill variant="warning">In vote</b-badge></p>
							<p v-if="isAdopted(article)" class="float-right"><b-badge pill variant="success">Adopted</b-badge></p>
							<p v-if="isRejected(article)" class="float-right"><b-badge pill variant="danger">Rejected</b-badge></p>
						</div>
						<div style=" display:flex; flex-direction: column; justify-content: flex-end">
							<b-card-title class="overflow-hidden " style="max-height: 6rem; ">
								{{ article.title }}
							</b-card-title>
							<div>
								
								<hr>
							</div>
							
							<b-card-text class="overflow-hidden; mb-3 mt-2" style="  min-height: 8rem; max-height: 8rem;">
								{{ article.description }}
							</b-card-text>
						</div>
					</div>
					
					
						
					
				</b-card>
			</b-card-group>
		</div>


	</div>
</template>

<script>

import CONST from "../utils/constants.js"

String.prototype.trunc = String.prototype.trunc ||
	function(n){
		return (this.length > n) ? this.substr(0, n-1) + " …" : this;
	};

export default {
	name: 'CACategory',
	data() {
		return {
			title: "",
			image: "",
			description: "",
			fields: ['title'],
			articles: [],
			color: "",
			id: "",
			breadcrumbItems: [
				{
					text: 'Project',
					to: '/categories'
				},
				{
					text: 'loading...',
					active: true	
				}
				
			],
			// months to display
			months: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sept", "Oct", "Nov", "Dec"]
		}
	},
	computed: {
		
		isAuthorized(){
			const minlevel = CONST.USER_PRIVILEGE_BOARD;
			return (this.$store.state.privilege >= minlevel)
		},
		_articles(){
			return this.articles.map(_article => {
				return {
					title: _article.title.trunc(44),
					description: _article.description.trunc(120),
					id: _article.id,
					createdAt: _article.createdAt,
					lock: _article.lock,
					lockDueDate: _article.lockDueDate,
					status: _article.status
				}

			})
		}
		
		
	},
	created() {
		this.axios
			.get(this.$API+'/articles/?category='+this.$route.params.id)
			.then(resp => {
				window.console.log(">> CACategory > requested articles: ",resp.data);
				this.articles = resp.data;
			})
		this.axios
			.get(this.$API+'/categories/'+this.$route.params.id)
			.then(resp => {
				window.console.log(">> CACategory > category: ",resp.data);
				this.title = resp.data.title;
				this.description = resp.data.description;
				this.image = resp.data.image;
				this.breadcrumbItems[1].text = this.title;
				this.color = resp.data.color;
				this.id = this.$route.params.id;
			})
	},
	methods: {
		gotoArticle(article) {
			this.$router.push({ name: 'article', params: { id: article.id } })
		},
		newArticle(){
			this.$router.push({name: 'newArticle', params: {category: this.$route.params.id}})
		},
		isDraft(article){
			return (article.status == CONST.ARTICLE_STATUS_DRAFT)
		},
		isUnderVote(article){
			return (article.status == CONST.ARTICLE_STATUS_PENDING)
		},
		isAdopted(article){
			return (article.status == CONST.ARTICLE_STATUS_ADOPTED)
		},
		isRejected(article){
			return (article.status == CONST.ARTICLE_STATUS_REJECTED)
		},
		formatDate(date){
			var d = new Date(date)
			return (d.getDate()+" "+this.months[d.getMonth()]+" "+d.getFullYear())		
		},
		pathToImage(){
			const remotePath =  this.$API.replace("api","");
			return remotePath+this.image;
		},
		generateBgImage(){
			
			return `background-image: url('${this.pathToImage()}')`;
		
		},
		getColorStyle(){
			const _color = this.color || "#cfcfce";
			return "background-color: "+ _color;
		}
	}
}
</script>

<style scoped lang="scss">

.ca-img-thumbnail{
	width: 100%; 
	height: 12em; 
	overflow: hidden; 
	background-position: center center; 
	background-size: cover; 
}

</style>
