<template>
	<div class="col col-12" style="">
		<div class=" mt-3 mb-3">
			<h1 v-if="id" class='display-4 '>Edit category</h1>
			<h1 v-if="!id" class='display-4 '>New category</h1>
		</div>

		<b-form class="form-horizontal"
				@submit="checkForm"
				method="POST"
				enctype="multipart/form-data"
			>

			<b-card
				class="mb-4"
				
				:style="getColorStyle()"
				
				
				no-body
			>
				<div class="card-content text-white ">
					
					<div >
						
						<!-- section header with tool -->
						
						<label class="control-label text-white-50" for="lockTitle">Title</label>
						<b-form-group
						
						
						>
							<b-form-input 
								class="h4 form-text-edit bottom-line-white "
								id="title" 
								v-model="title" 
								type="text" />
						</b-form-group>
					
					
					
						
					</div>
					<b-card-text >
						
						<b-form-group
							
						>
							<label class="control-label text-white-50" for="lockTitle">Description</label>
							<b-form-textarea 
								rows="2" 
								class="form-control bottom-line-white" 
								id="description" 
								name="description"
								v-model="description"
								no-resize
							></b-form-textarea>
						</b-form-group>

						<div>
							<div class="control-label text-white-50 mt-2" for="lockTitle">Color</div>
						<b-button-group class="mb-3">
							<b-button class="color-button" style="background-color: #ff7a93;" @click="setColor('#ff7a93')"></b-button>
							<b-button class="color-button" style="background-color: #0055ff;" @click="setColor('#0055ff')"></b-button>
							<b-button class="color-button" style="background-color: #00bd8e;" @click="setColor('#00bd8e')"></b-button>
							<b-button class="color-button" style="background-color: #ff8763;" @click="setColor('#ff8763')"></b-button>
							<b-button class="color-button" style="background-color: #00bfcc;" @click="setColor('#00bfcc')"></b-button>
							<b-button class="color-button" style="background-color: #614ac4;" @click="setColor('#614ac4')"></b-button>
						</b-button-group>
						</div>
					</b-card-text>

				</div>	
			</b-card>
			
			<!-- delete tool row -->
			<div class="row my-2" v-if="id">
				<div class="col">
					<b-button @click="$bvModal.show('modal-delete-category')" class='float-md-right tool-button' >
						<p class="">Delete category <img class="ml-2 tool-button-icon "  src="/img/icon_x.svg"/></p> 
					</b-button>
				</div>
			</div>

			<div style="display: flex; justify-content: center">
				<b-button type="submit" id="Submit" name="Submit" class="big-button display-4 my-4">Save category</b-button>
			</div>
		</b-form>

		<b-modal 
			id="modal-delete-category" 
			centered title="Are you sure you want to delete this category?"
			@ok="deleteCategory">
							
			<p>You are about to delete category <b>{{ title }}</b>. This cannot be undone.</p>

			<template v-slot:modal-footer="{ ok, cancel, hide}">
				<b-button size="md" variant="outline-secondary" @click="cancel()">
				Cancel
				</b-button>
				<b-button size="md" variant="danger" @click="ok(), hide()">
				Delete category
				</b-button>				
			</template>			
		</b-modal>

			
		
	</div>
</template>

<script>


export default {
	components: {
	},
	props:{
		id: Number
	},
	data() {
		return {
			errors: [],
			notifications: [],
			title: "", 
			description: "",
			category: null,
			image:null,
			color: ""
		};
	},
	mounted() {

		this.category = this.$route.params.category || null;
		this.id = this.$route.params.id || null;
		
		if(this.id){
			this.axios
				.get(this.$API+'/categories/'+this.id)
				.then(resp => {
					window.console.log(resp.data);
					this.title = resp.data.title;
					this.description = resp.data.description;
					this.color = resp.data.color;
					//this.category = resp.data.category._id,
					this.image = resp.data.image
				})
				.catch(e => {
					this.errors.push(e)
				})
		}
	},
	methods: {
		checkForm: function(e){
			this.errors = [];

			// window.console.log(">> CAEditCategoryView > filepond >",this.$refs.pond.getFiles())

			if(this.title && this.description && this.id){
				this.updateCategory();
				e.preventDefault();
				return
			}
			if(this.title && this.description){
				this.createCategory();
				e.preventDefault();
				return
			}
			if (!this.title) {
				this.errors.push('Title required.');
			}
			if (!this.description) {
				this.errors.push('Description required.');
			}

			e.preventDefault();
		},
		createCategory: function(){
			this.notifications = [];
			this.errors = [];

			//first we create new formdata
			const formData = new FormData();
			formData.append('title',this.title);
			formData.append('description',this.description);
			formData.append('color', this.color);

			window.console.log(">> CAEditCategory > before upload >",formData)
			
			this.axios
				.post(
					this.$API+'/categories',
					formData,
					{
						headers: {
							'Content-Type' : 'multipart/form-data'
						}
					})
				.then(resp => {
					window.console.log(resp.data);
					this.$router.push({ name: 'category', params: { id: resp.data._id } })
				})
				.catch(e => {
					this.errors.push(e)
				})
		},
		updateCategory: function(){
			this.notifications = [];
			this.errors = [];
			this.axios
				.put(this.$API+'/categories/'+this.id,{
					title: this.title,
					description: this.description,
					color: this.color
				})
				.then(resp => {
					window.console.log(resp.data);
					// this.title = resp.data.title;
					// this.description = resp.data.description;
					// this.id = resp.data._id;

					// this.notifications.push("Succesfully updated categorie");
					this.$router.push({ name: 'category', params: { id: resp.data._id } })

				})
				.catch(e => {
					this.errors.push(e)
				})
		},
		deleteCategory(){
			
			this.axios
				.delete(this.$API+'/categories/'+this.id)
				.then(() => {
					
					this.$store.commit('alertSuccess',"Removed category "+this.title)
					this.$router.push({ name: 'categories', params: { } })
				})
				.catch(err => {
					this.$store.commit('alertError',"Category could not be deleted")
					window.console.log(err);
				});
		},
		getColorStyle(){
			window.console.log("CAEditCategory getColorStyle color: ", this.color);
			if(this.color){
				return "background-color: "+this.color;
			} 
			this.color = "#ff8763";
			return "background-color: "+this.color;
		},
		setColor(color){
			this.color = color;
		}
	},
}
</script>

<style scoped lang="scss">

.color-button{
	height: 2rem;
	width: 4rem;
	border-color: rgba(255, 255, 255, 0.5);
}

</style>
