<template>
	<div class="row justify-content-center">
		<div class="col col-10" style="">
			<!-- section header with tool -->
			<div class="row my-3 " >
				<div class="col" style="display: flex; justify-content: space-between; align-items: baseline">
					<h1 class='display-4 '>Edit article</h1>
					<b-button @click="$bvModal.show('modal-delete-article')"  class='float-right tool-button ' v-if="id" >
						<p class="">Delete article <img class="ml-2 tool-button-icon "  src="/img/icon_x.svg"/></p> 
						
					</b-button>
				</div>
			</div>

			

			<b v-if="errors.length">
				<b>Please correct the following error(s)</b>
				<div
					v-for="error in errors"
					:key="error.id"
					class='alert alert-warning'
					role='alert'
				>
						{{ error }}
				</div>
			</b>

			<b v-if="notifications.length">
				<div
					v-for="notification in notifications"
					:key="notification.id"
					class='alert alert-success'
					role='alert'
				>
						{{ notification }}
				</div>
			</b>

			<b-form class="form-horizontal"
						@submit="checkForm"
						action=""
						method="POST"
					>
			<b-card
				class="overflow-hidden"
				
				header-bg-variant="transparent"
				header-border-variant="light"
				
				no-body
				>
				<div class="card-content">
					<div class="mt-2" v-if="id">
						First created {{ formatDate(createdAt)}}
					</div>
					<div class="mt-2" v-if="!id">
						First created {{ formatDate(todaysDate)}}
					</div>
					<hr>
						
					<div class="mt-2" style=" display:flex; flex-direction: column; justify-content: flex-end">
						<b-form-group
							id="fieldset-horizontal"
							description=""									
						>
							<label class="control-label text-light-grey" for="lockTitle">Title</label>
							<b-form-input
								class="h4 form-text-edit bottom-line"
								id="title" 
								v-model="title" 
								rows="1"
								no-resize
								/>
						</b-form-group>
						
						<div>
							
						</div>
						<b-card-text class="overflow-hidden; mb-3 mt-2" style="  ">
							
							<b-form-group
								id="fieldset-horizontal"
								
							>
								<label class="control-label text-light-grey" for="lockTitle">Description</label>
								<b-form-textarea 
									class="form-control form-text-edit bottom-line" 
								
									name="description"
									v-model="description"
									rows="8"
									max-rows="32"
									no-resize
								/>
									
								
							</b-form-group>
						</b-card-text>
						<div>
							
						</div>
						<div class="mt-2 mb-2" >
							<span v-if="id" class="float-right">Updated on {{formatDate(updatedAt)}}</span>

							<p ><b-badge :style="getColorStyle()">{{categoryTitle}}</b-badge></p>
						
						</div>
					</div>
					
				</div>
			</b-card>

			<div style="display: flex; justify-content: center">
				<b-button type="submit" id="Submit" name="Submit" class="big-button display-4 my-4" @click="checkFormAndShowModal" >Save article</b-button>
			</div>
			</b-form>
			


		</div>
		
			<b-modal 
				id="modal-delete-article" 
				centered title="Are you sure you want to delete this article?"
				@ok="deleteArticle">
								
				<p>You are about to delete article <b>{{ title }}</b>. This cannot be undone.</p>

				<template v-slot:modal-footer="{ ok, cancel, hide}">
					<b-button size="md" variant="outline-secondary" @click="cancel()">
					Cancel
					</b-button>
					<b-button size="md" variant="danger" @click="ok(), hide()">
					Delete article
					</b-button>				
				</template>			
			</b-modal>	
	</div>
</template>

<script>



export default {
	components: {
		
	},
	data() {
		return {
			errors: [],
			notifications: [],
			createdAt: "",
			updatedAt: "",
			title: "", 
			description: "",
			id: null,
			categoryTitle: "",
			categoryObject: "",
			categoryColor: "",
			months: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sept", "Oct", "Nov", "Dec"]
		};
	},
	props:{
		category: Number
	},
	mounted() {
		// this.category = this.$route.params.category || null;
		this.id = this.$route.params.id || null;
		
		if(this.id){
			this.axios
				.get(this.$API+'/articles/'+this.id)
				.then(resp => {
					window.console.log(resp.data);
					this.title = resp.data.title;
					this.description = resp.data.description;
					this.id = resp.data._id;
					this.category = resp.data.category.id;
					this.categoryTitle = resp.data.category.title;
					this.categoryColor = resp.data.category.color;
					this.createdAt = resp.data.createdAt;
					this.updatedAt = resp.data.updatedAt;
					this.categoryObject = resp.data.category;
					
				})
				.catch(e => {
					this.errors.push(e)
				})
		}
		this.axios
			.get(this.$API+'/categories/'+this.category)
			.then( resp => {

				window.console.log("CAeditsrtaocle: get cat resp ", resp.data);
				this.categoryTitle = resp.data.title;
				this.categoryColor = resp.data.color;

			})
		
			
		
		
				
		
	},
	computed:{
		todaysDate(){
			return new Date();
		}
	},
	methods: {

		checkForm: function(e){
			this.errors = [];

			if(this.title && this.description && this.id){
				this.updateArticle();
				e.preventDefault();
				return
			}
			if(this.title && this.description){
				this.createArticle();
				e.preventDefault();
				return
			}
			if (!this.title) {
				this.errors.push('Title required.');
			}
			if (!this.description) {
				this.errors.push('Description required.');
			}

			e.preventDefault();
		},
		createArticle: function(){
			this.notifications = [];
			this.errors = [];
			this.axios
				.post(this.$API+'/articles',{
					title: this.title,
					description: this.description,
					category: this.category
				})
				.then(resp => {
					window.console.log(resp.data);
					// this.title = resp.data.title;
					// this.description = resp.data.description;
					// this.id = resp.data._id;

					// this.notifications.push("Succesfully created article");
					this.$router.push({ name: 'article', params: { id: resp.data._id } })

				})
				.catch(e => {
					this.errors.push(e)
				})
		},
		updateArticle: function(){
			this.notifications = [];
			this.errors = [];
			this.axios
				.put(this.$API+'/articles/'+this.id,{
					title: this.title,
					description: this.description,
					category: this.category
				})
				.then(resp => {
					window.console.log(resp.data);
					// this.title = resp.data.title;
					// this.description = resp.data.description;
					// this.id = resp.data._id;

					// this.notifications.push("Succesfully updated article");
					this.$router.push({ name: 'article', params: { id: resp.data._id } })

				})
				.catch(e => {
					this.errors.push(e)
				})
		},
		deleteArticle(){
			window.console.log("CAEditArticle delete article")
			this.axios
			.delete(this.$API+/articles/+this.$route.params.id)
			.then(resp => {
				window.console.log(">>CAEditArticle > deleted article : ",resp);
				this.$store.commit('alertSuccess', "The article was succesfully deleted");
				this.$router.push({ name: 'category', params: { id: resp.data.category } })
			})
			.catch(this.$store.commit('alertwarning', "The article could not be deleted"))
		},
		formatDate(date){
			var d = new Date(date)
			return (d.getDate()+" "+this.months[d.getMonth()]+" "+d.getFullYear())		
		},
		getColorStyle(){
			return "background-color: "+this.categoryColor;
		}
	},
}
</script>

<style scoped lang="scss">

</style>
