<template>
	<div >
		
		<b-button 
			pill variant="outline-secondary" 
			v-b-modal="'explain-keys'"

		>
		?
		</b-button>

		<b-modal
			id="explain-keys" 
			centered title="Keep your secret code safe"
			size="xl"
			scrollable
		>
		<p>
			Your profile on this platform contains all your official agreements with the cooperative. That’s why we will create a secret key code that you can use should something go wrong with your registration. You can then always restore your profile and all your votes on articles and other binding agreements.

		</p>	
		<h5>How to safely store my secret code</h5>
		<p>
			We recommend that you write your code down in on a piece of paper and put that in an envelope or a small box. Clearly label that container and keep it in a place where you would keep important documents like a will, passports or the deed to your house. It is equally important, since it represents your rights and duties within the cooperative.

		</p>
		<template v-slot:modal-footer="{ ok, hide}">
				
				<b-button size="md" variant="primary" @click="ok(), hide()">
				I understand
				</b-button>				
			</template>	

		</b-modal>

		
	</div>
</template>
<script>
export default {
	name: 'CAExplainKeys',
	props: {
	},
	data(){

	},
	computed: {
		
	},
	methods: {
		// onClose(){

		// }

	},
	mounted() {

	}
}
</script>

<style scoped lang="scss">
	

</style>