<template>
	<footer class="footer py-5 px-3 mt-5">
		
			<div class="" style="display: flex; justify-content: center;">
				
				<div style="width: 50%; display: flex; justify-content: space-between;">
					<div>
						<img src="/img/eu-logo.jpg" style="height: 2rem">
					</div>
					<div class="text-grey mx-2" style="text-align: center; line-height: 1rem">
						<small>This project has received funding from the European Union’s Horizon 2020 research and innovation programme within the framework of the LEDGER Project funded under grant agreement No825268</small>
					</div>
					<div>
						<img src="/img/ngi-ledger-logo.png" style="height: 2rem">
					</div>
				</div>
				
				
			</div>
		
	</footer>
</template>

<script>
export default {
	name: 'CAFooter',
	props: {
		
	}
}
</script>

<style scoped lang="scss">

.footer{
	background-color: white;
}
	

</style>
