<template>
	<div class="row justify-content-center my-5">
		<div class="col-md-8 my-3">
			<h1 class='display-4'>Login</h1>
		</div>
		<div class="col-md-8">
			<b-form @submit="onSubmit">
				<b-form-group
					id="email-group"
					label="Email"
					label-for="email"
					description="We'll never share your email with anyone else."
					label-cols-sm="4"
					label-cols-lg="3"
				>
					<b-form-input
						class="form-text-edit bottom-line"
						id="email"
						v-model="email"
						type="email"
						required
						placeholder="Enter email">
					</b-form-input>
				</b-form-group>

				<b-form-group 
					id="password-group" 
					label="Password" 
					label-for="password"
					label-cols-sm="4"
					label-cols-lg="3"
				>
					<b-form-input
						class="form-text-edit bottom-line"
						id="password"
						type="password"
						v-model="password"
						placeholder="Enter password"
						required
						>
					</b-form-input>
				</b-form-group>

				
				<div style="display: flex; justify-content: center" class="mb-5">
					<b-button class="big-button display-4 my-4" type="submit" >Login</b-button>
				</div>

				<hr >

				<p class="text-muted">Or register here if you do not have a login yet.</p>

				<b-button variant="outline-secondary" to="register">Register</b-button>
			</b-form>
		</div>
	</div>
</template>
<script>
export default {
	name: 'CALogin',
	props: {
	},
	data(){
		return {
			email: '',
			password: ''
		}
	},
	computed: {
		
	},
	methods: {
		onSubmit(evt){
			evt.preventDefault();
			this.axios
				.post(this.$API+'/users/login', {
					email: this.email, 
					password: this.password
				})
				.then(this.onSuccess)
				.catch(this.onFailure);
		},
		onSuccess(resp){
			window.console.log(">> CALogin > logged in ", resp.data);
			this.$store.commit('logIn', resp.data)
			this.$router.push({ name: 'account'})
			this.$store.commit('alertSuccess','Logged in succesfully');
		},
		onFailure(){
			window.console.log(">> CALogin > FAILED TO LOGIN");
			this.$store.commit('logOut')
			this.$store.commit('alertError','These are invalid credentials');
		}

	},
	mounted() {
		//if the user is logged in we forward to profile
		window.console.log(">> CALogin > am I logged in",this.$store.getters.loggedIn);
		if(this.$store.getters.loggedIn) this.$router.push({ name: 'account'})
	}
}
</script>

<style scoped lang="scss">
	

</style>
