<template>
	<b-collapse id="nav-collapse" class="navbar-collapse collapse justify-content-center order-1" is-nav>
		<b-navbar-nav class="" center>
			<b-nav-item to="/home" class="nav-item">
				🏠 Home
			</b-nav-item>
			<b-nav-item to="/categories" class="nav-item">
				📑 Project
			</b-nav-item>
			<b-nav-item to="/members" class="nav-item">
				🤝 Community
			</b-nav-item>
		</b-navbar-nav>
	</b-collapse>
</template>

<script>
	
export default {
		name: 'CANavigation',
		props: {
		},
		data() {
			return {}
		},
		computed:{
			
		},
		mounted() {

		}
	}
</script>

<style scoped lang="scss">
	
	.router-link-active{
		border-bottom: 3px solid;
	}

</style>
