<template>
	<div class="row">
		<div class="col-12 mx-auto my-2">
			<b-alert variant="success" dismissible show v-if="msgSuccess" fade>{{ msgSuccess }}</b-alert>
			<b-alert variant="warning" dismissible show v-if="msgWarning" fade>{{ msgWarning }}</b-alert>
			<b-alert variant="danger" dismissible show v-if="msgError" fade>{{ msgError }}</b-alert>
		</div>
	</div>
</template>

<script>
export default {
	name: 'CANotification',
	props: {
		
	},
	computed: {
		msgSuccess(){
			let msg = this.$store.state.msgSuccess;
			if(Array.isArray(msg)){ 
				msg = msg.join("<br>");
			}
			return msg;
		},
		msgWarning(){
			let msg = this.$store.state.msgWarning;
			if(Array.isArray(msg)){ 
				msg = msg.join("<br>");
			}
			return msg;		},
		msgError(){
			let msg = this.$store.state.msgError;
			if(Array.isArray(msg)){ 
				msg = msg.join("<br>");
			}
			return msg;
		}
	}
}
</script>

<style scoped lang="scss">

</style>
