<template>
	<div>
		<!-- section header with tool -->
		<div class="row mb-3" >
			<div class="col" style="display: flex; justify-content: space-between; align-items: baseline">
				<h1 class='display-4 '>Voting seal</h1>
				<b-button @click="verifyVoteAndShowModal"  class='float-right tool-button ' >
					<p class="">Verify vote<img class="ml-2 tool-button-icon "  src="/img/icon_magnifying_glass.svg"/></p> 
					
				</b-button>
			</div>
		</div>

		
			<b-card
				class = "seal"
				no-body
				header-border-variant="light"
				style="min-width: 20rem;"

				border-variant=""
				
				header-bg-variant=""
				header-text-variant=""
				align="left"

				>
				
				<div class="mt-2">
					Result
					<h4 class="">Article <b>{{ article.title }}</b> was {{ voteOutcome }} on {{ formatDate(article.lock.updatedAt) }} </h4>
				</div>
				
				<hr>
				
				
				<table class="my-3">
					<tr width= "100%">
						<td class="bg-success overflow-hidden" :width="acceptPercentage"  height="40px" style="text-align: center; color: white"> 
							<div v-if="showAcceptPercentage">{{ acceptPercentage }} </div>
						</td>
						<td class="bg-danger overflow-hidden" :width="rejectPercentage" style="text-align: center; color: white">  
							<div v-if="showRejectPercentage">{{ rejectPercentage }}</div>
						</td>
						<td class="bg-light overflow-hidden" style="text-align: center;"> 
							<div v-if="showWithheldPercentage">{{ withheldPercentage }}</div>

						</td>
					</tr>
				</table>
				<hr>
				<div class="row">
					<div class="col">
						
						Accept
						<h4>{{article.lock.tallyOutcome.yay }}</h4>
						
					</div>
					<div class="col">
						Reject
						<h4>{{article.lock.tallyOutcome.nay }}</h4>
						
					</div>
					<div class="col" >
						Withheld<h4>{{article.lock.tallyOutcome.withheld }}</h4>
						
					</div>
				</div>
				<hr>
				<div class="row my-1">
					<div class="col">
						No. ballots {{ article.lock.tallyOutcome.ballotsIssued }}
					</div>
					<div class="col float-right" style="text-align: right">
						Turnout {{ getTurnout }}
					</div>
				</div>
				

				

				<div id="dayCounter"></div>

			
			</b-card>

			<b-modal 
			id="modal-center-verify" 
			centered title="verify vote"
			
			size="xl"
			>
							
			<p>Vote verification info</p>

			<template v-slot:modal-footer="{ ok, cancel, hide}">
				
				<b-button size="md" variant="primary" @click="ok(), hide()">
				OK
				</b-button>				
			</template>			
		</b-modal>
		
	</div>

		
</template>

<script>

import CONST from "../utils/constants.js"

export default {
	name: 'CAOutcome',
	props: ['article'],
	data(){
		return {
			months: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sept", "Oct", "Nov", "Dec"]
		}
	},
	computed: {
		voteOutcome(){
			return (this.article.lock.finalStatus == CONST.ARTICLE_STATUS_REJECTED) ? "rejected" : "adopted"
		},
		acceptPercentage(){
			var total = this.article.lock.tallyOutcome.yay+this.article.lock.tallyOutcome.nay+this.article.lock.tallyOutcome.withheld
			var p = Math.round((this.article.lock.tallyOutcome.yay/total)*100)
			return p+"%"
		},
		rejectPercentage(){
			var total = this.article.lock.tallyOutcome.yay+this.article.lock.tallyOutcome.nay+this.article.lock.tallyOutcome.withheld
			var p = Math.round((this.article.lock.tallyOutcome.nay/total)*100)
			return p+"%"
		},
		withheldPercentage(){
			var total = this.article.lock.tallyOutcome.yay+this.article.lock.tallyOutcome.nay+this.article.lock.tallyOutcome.withheld
			var p = Math.round((this.article.lock.tallyOutcome.withheld/total)*100)
			return p+"%"
		},
		getTurnout(){
			var total = this.article.lock.tallyOutcome.yay+this.article.lock.tallyOutcome.nay+this.article.lock.tallyOutcome.withheld
			var p = Math.round((total/this.article.lock.tallyOutcome.ballotsIssued)*100)
			return p+"%"
		},
		showAcceptPercentage(){
			return (parseFloat(this.acceptPercentage) > 1) ? true : false
		},
		showRejectPercentage(){
			return (parseFloat(this.rejectPercentage) > 1) ? true : false
		},
		showWithheldPercentage(){
			return (parseFloat(this.withheldPercentage) > 1) ? true : false
		}

	},
	methods: {
		formatDate(date){
			var d = new Date(date)
			return (d.getDate()+" "+this.months[d.getMonth()]+" "+d.getFullYear())		
		},
		verifyVoteAndShowModal(){
			this.$bvModal.show('modal-center-verify');
		}
	},
	mounted() {
		// this.$emit('updated');
	}

}
</script>

<style scoped lang="scss">

</style>
