<template>

		<div class="col-md-12">
			<b-alert v-if="accessDenied" show variant="secondary">
				<h4 class="alert-heading">Acces denied</h4>
				<p>
					You do not have permission to view this directory or page.
				</p>
				<p class=''>
					{{errorMsg}}
				</p>
			</b-alert>

			<b-alert v-if="errorOccured" show variant="warning">
				<h4 class="alert-heading">An error has occured</h4>
				<p>
					{{errorMsg}}
				</p>
			</b-alert>
		</div>

</template>

<script>
export default {
	name: 'CARequestError',
	props: ['error'],
	data(){
		return {
			accessDenied: false,
			errorOccured: false,
			errorMsg: ""
		}
	},
	computed:{
		_error(){
			try {
				return JSON.parse(JSON.stringify(this.error));
			}
			catch(err){
				return {};
			}
		}
	},
	methods: {
		refresh(){
			if(!this.error) return window.console.log(">> CARequestError > no real error");

			if(this._error.hasOwnProperty("message")){
				
				this.errorMsg = this._error.message;
				
				if(this._error.message.indexOf('403') >= 0) return this.accessDenied = true;
				this.errorOccured = true;
			}
		}

	},
	created() {
		window.console.log(">> CARequestError > MOUNTED > error passed: ",this._error);
		if(this._error)	this.refresh()		
	},
	updated() {
		window.console.log(">> CARequestError > UPDATED > error passed: ",this._error);
		if(this._error)	this.refresh()		
	}
}

</script>

<style scoped lang="scss">


</style>
