<template>
	<div class="row">
		<div class="col-md-12 my-5">
			<h1 class=''>Register</h1>
		</div>
		<div class="col-md-10">
			<b-form @submit="onSubmitStep1" v-if="!privateKey">
				<b-form-group
					id="username-group"
					label="Username"
					label-for="username"
					description=""
					label-cols-sm="4"
					label-cols-lg="3"
				>
					<b-form-input
						id="username"
						v-model="username"
						type="text"
						required
						placeholder="Pick a username">
					</b-form-input>
				</b-form-group>
				<b-form-group
					id="email-group"
					label="Email"
					label-for="email"
					label-cols-sm="4"
					label-cols-lg="3"
				>
					<b-form-input
						id="email"
						v-model="email"
						type="email"
						required
						placeholder="Enter email">
					</b-form-input>
				</b-form-group>
				<b-form-group
					id="password-group"
					label="Password"
					label-for="password"
					label-cols-sm="4"
					label-cols-lg="3"
				>
					<b-form-input
						id="password"
						type="password"
						v-model="password"
						placeholder="Enter password"
						required
						>
					</b-form-input>
				</b-form-group>
				<div>
					<b-alert show variant="secondary" v-if="!privateKey">
						<h4 class="alert-heading">Your actions on this platform need to be officially verified with a personal, secret key code.</h4>
							
							
								<b-button 
									pill variant="outline-secondary" 
									v-b-modal="'explain-keys'"
									class="float-right"
								>
								?
								</b-button>
								<b-button
									class="mt-3"
									type="submit"

									variant="primary"
								>Generate my secret key
								</b-button>
								
									
							
						</b-alert>
				</div>
				
			</b-form>
			<b-form @submit="onSubmitStep1" v-if="privateKey">
				<b-form-group
					id="username-group"
					label="Username"
					label-for="username"
					description=""
					label-cols-sm="4"
					label-cols-lg="3"
					
				>
					<b-form-input
						id="username"
						v-model="username"
						type="text"
						required
						placeholder="username"
						readonly
						pattern="^[A-Za-z_]\\w{7,29}$"
						>
					</b-form-input>
				</b-form-group>
				<b-form-group
					id="email-group"
					label="Email"
					label-for="email"
					label-cols-sm="4"
					label-cols-lg="3"

				>
					<b-form-input
						id="email"
						v-model="email"
						type="email"
						required
						placeholder="email"
						readonly
						>
					</b-form-input>
				</b-form-group>
				<b-form-group
					id="password-group"
					label="Password"
					label-for="password"
					label-cols-sm="4"
					label-cols-lg="3"
				>
					<b-form-input
						id="password"
						type="password"
						v-model="password"
						placeholder="password"
						required
						readonly
						>
					</b-form-input>
				</b-form-group>
				<div>
					<b-alert show variant="warning" class="bg-warning">
						<h4 class="alert-heading">Write down your secret key and keep it in a safe space</h4>

						<div class="bg-dark text-white p-4 my-3 text-wrap text-break">
							

								<h4><span v-html="_privateKey"></span></h4>



							
							
						</div >
							<b-button 
								pill variant="outline-secondary" 
								v-b-modal="'explain-keys'"
								class="float-right"
							>
							?
							</b-button>
							<h4 class="alert-heading">Without this key you cannot recover your registration </h4>
							
						
					</b-alert>
				</div>
				
			</b-form>
			<b-form @submit="onSubmitStep2">
				<b-button v-if="privateKey" v-b-modal="'registration-alert'" variant="primary">Register</b-button>
				<b-button v-if="!privateKey" variant="secondary">Register</b-button>
			</b-form>

		
		</div>

		<b-modal
			id="explain-keys" 
			centered title="Keep your secret code safe"
			size="xl"
			scrollable
		>
		<p>
			Your profile on this platform contains all your official agreements with the cooperative. That’s why we will create a secret key code that you can use should something go wrong with your registration. You can then always restore your profile and all your votes on articles and other binding agreements.

		</p>	
		<h5>How to safely store my secret code</h5>
		<p>
			We recommend that you write your code down in on a piece of paper and put that in an envelope or a small box. Clearly label that container and keep it in a place where you would keep important documents like a will, passports or the deed to your house. It is equally important, since it represents your rights and duties within the cooperative.

		</p>
		<template v-slot:modal-footer="{ ok, hide}">
				
				<b-button size="md" variant="primary" @click="ok(), hide()">
				I understand
				</b-button>				
			</template>	

		</b-modal>

		<b-modal
			id="registration-alert" 
			centered title="Did you write down your secret code?"
			size="xl"
			scrollable
		>
		<p>
			Without your secret code you will not be able to recover your account. This is your last chance to write it down properly.

		</p>	
		
		<template v-slot:modal-footer="{ ok, cancel, hide}">
				<b-button size="md" variant="outline-secondary" @click="cancel()">
				Take me back
				</b-button>	
				<b-button size="md" variant="primary" @click="onSubmitStep2">
				I have written down my secret code, finish my registration
				</b-button>				
		</template>	

		</b-modal>

		
	</div>
</template>

<style scoped lang="scss">
	
	pre{
		text-align: left;
	}
	.letterspaced{
		letter-spacing: 10px;
		color: red;
	}

</style>

<script>

//import CAExplainKeys from './CAExplainKeys.vue';
const _ = require("lodash");

export default {
	name: 'CARegister',
	components: {
		
	},
	data(){
		return {
			email: '',
			password: '',
			username: '',
			publicKey: 0,
			privateKey: 0,
			user_id: 0
		}
	},
	computed: {
		loggedIn() {
			return this.$store.getters.loggedIn;
		},
		_privateKey(){

			let cleanKey = this.privateKey.substr(4);
			let chunkSize = 5;
			let chunksOnARow = 5;
			let chunkedKey = _.chunk(cleanKey, chunkSize);			
			let privateKeyArray = [];
				privateKeyArray.push("<div class='container'>");

			let i;
			for (i = 0; i < chunkedKey.length; i++) {
				//window.console.log(chunkedKey[i]);
				if(i%chunksOnARow == 0){
					privateKeyArray.push("<div class='row'>");
				}

				privateKeyArray.push("<div class='col text-white border p-3 m-1 rounded-lg text-monospace letterspaced' style='letter-spacing: .1em'>");
				privateKeyArray.push(chunkedKey[i].join(""));
				privateKeyArray.push("</div>");

				if((i-chunksOnARow+1)%chunksOnARow == 0){
					privateKeyArray.push("</div>");
				}

			}
			privateKeyArray.push("</div>");

			var privateKeyString = privateKeyArray.join("");
			
			return privateKeyString;
		}

	},
	methods: {
		
		onSubmitStep1(evt){
			evt.preventDefault();
			window.console.log("onSubmitStep1");
			this.axios
				.post(this.$API+'/users/register', {
					email: this.email,
					username: this.username,
					password: this.password
				})
				.then(this.onSuccessStep1)
				.catch(this.onFailure);
		},
		onSuccessStep1(resp){
			this.$store.commit('alertSuccess','Almost done; just one more step.');
			window.console.log("onSuccessStep1");
			this.user_id = resp.data.user_id;
			this.$CryptoWrapper.getAppCredentials(this.user_id)
			.then(this.showAppCredentials);
		},
		showAppCredentials(credentials){

			window.console.log("onShowAppCred public key:",credentials);
			this.publicKey = credentials[this.user_id].keypair.public_key;
			window.console.log("onShowAppCred private key:");
			this.privateKey = credentials[this.user_id].keypair.private_key;
			
		},
		onSubmitStep2(evt){
			evt.preventDefault();
			this.axios
				.put(this.$API+"/users/"+this.user_id, {
					publicKey: this.publicKey
				})
				.then(this.onSuccessStep2)
				.catch(this.onFailure)
		},
		onSuccessStep2(user){
			this.$store.commit('alertSuccess','Registration complete!');
			this.$store.commit('logIn',user.data)
			this.$router.push({ name: 'account' })
		},
		onFailure(resp){
			window.console.log(">> CARegister > triggered error", resp);
		
			this.$store.commit('alertError','Something went wrong');
			this.$store.commit('logOut');
		}

	},
	mounted() {
		
		
		//if the user is logged in we forward to profile
		if(this.loggedIn) return this.$router.push({ name: 'profile'});

	}
}

</script>


