<template>
	<div class="row" v-if="isAuhtorized">
		<div class="col col-md-12 my-5 text-center">
			<div  v-if="!id">
				<h1 class="display-3">Setup</h1>
				<p class="lead">You are about to create a new organisation.</p>
			</div>
			<div v-else>
				<h1 class="display-4" >Edit organisation</h1>
			</div>
		</div>
		<div class="col col-md-12">
			<b-form @submit="updateInstance" >
				<b-form-group
					id="fieldset-horizontal"
					label-cols-sm="4"
					label-cols-lg="3"
					description=""
					label="Title"
					label-for="title"
				>
					
				<b-form-input 
					id="title" 
					v-model="title"
					class="bottom-line" 
					type="text" />
				</b-form-group>
					
				<b-form-group
					id="fieldset-horizontal"
					label-cols-sm="4"
					label-cols-lg="3"
					description=""
					label="Description"
					label-for="description"
				>
					<b-form-textarea rows="6" class="form-control bottom-line" id="description" name="description"
						v-model="description"
					></b-form-textarea>
				</b-form-group>
				<br>
				<b-button type="submit" variant="primary" class="float-right" v-if="id">Save changes</b-button>
				<b-button type="submit" variant="primary" class="float-right" v-else>Create organisation</b-button>
			</b-form>
		</div>
	</div>
	<div class="row" v-else>
		<div class="col col-md-12">
			<b-alert variant="danger" show>
				<h4 class="alert-heading">Not authorized</h4>
				<p>
					You don't have the right privileges to access this page.
				</p>
			</b-alert>
		</div>
	</div>
</template>

<script>

/**
 * STEPS

1. we register the name + description
2. we sele 

  


 */


import CONST from "../utils/constants.js";

// import CONST from '../utils/constants.js';

export default {
	name: 'CASetup',
	props: {
		
	},
	data(){
		return {
			title: "",
			description: "",
			id: ""

		}
	},
	computed: {
		isAuhtorized(){
			return (this.$store.state.privilege >= CONST.USER_PRIVILEGE_MEMBER)
		},
	},
	mounted() {
				
		this.axios
			.get(this.$API+'/instance')
			.then((resp) =>{
				this.title = resp.data.title;
				this.description = resp.data.description;
				this.id = resp.data.id;
				this.$store.commit('setInstance', resp.data);
				window.console.log("CASetup update instance : ", resp)
			} )
			.catch((err) => {
				window.console.log("CASetup update instance err: ", err)
			});
		
	},
	methods: {
		createInstance(evt){
			evt.preventDefault();
			this.axios
				.post(this.$API+'/instance/', {
					title: this.title,
					description: this.description
				})
				.then(this.onSuccess)
				.catch(this.onFailure);
		},
		updateInstance(evt){
			evt.preventDefault();
			this.axios
				.put(this.$API+'/instance/'+this.id, {
					title: this.title,
					description: this.description
				})
				.then(this.onSuccess)
				.catch(this.onFailure);
		},
		onSuccess(resp){
			window.console.log("success", resp);
			this.$store.commit('alertSuccess', "Succesfully saved");
			this.$store.commit('setInstance', resp.data);
			this.$router.push({ name: 'welcome'})
		},
		onFailure(resp){
			window.console.log("fail", resp);
			this.$store.commit('alertError', "Something went wrong.");
		}

	}

}
</script>

<style scoped lang="scss">

</style>
