<template>
	<div class="row justify-content-center my-5">
		<div class="col-md-8 my-5">
			
			<h1 class='display-4'>Tools</h1>
		</div>
		<div class="col-md-8">
			<b-card-group deck>
				<b-card
					class="shadow-sm m-3"
					
					header-bg-variant="transparent"
					header-border-variant="light"
					style="min-width: 20rem;"

					>
					<b-card-title v-on:click="showCategory(category)">
						Reality Check
					</b-card-title>
					<b-card-text v-on:click="showCategory(category)">
						A back of the napkin calculation to get started
					</b-card-text>
					<template v-slot:footer>
						<b-button v-b-modal.modal-install size="lg" variant="success">install</b-button>
					</template>
				</b-card>

				<b-card
					class="shadow-sm m-3"
					
					header-bg-variant="transparent"
					header-border-variant="light"
					style="min-width: 20rem;"

					>
					<b-card-title v-on:click="showCategory(category)">
						Public page
					</b-card-title>
					<b-card-text v-on:click="showCategory(category)">
						If you are ready to invite new members, partners, you can use this tool to make a public page, based on information from your database
					</b-card-text>
					<template v-slot:footer>
						<b-button v-b-modal.modal-install size="lg" variant="success">install</b-button>
					</template>
				</b-card>

				<b-card
					class="shadow-sm m-3"
					
					header-bg-variant="transparent"
					header-border-variant="light"
					style="min-width: 20rem;"

					>
					<b-card-title v-on:click="showCategory(category)">
						Bunq Integration
					</b-card-title>
					<b-card-text v-on:click="showCategory(category)">
						If you manage your account with Bunq, you can now integrate all transactions with your tool. 
					</b-card-text>
					<template v-slot:footer>
						<b-button v-b-modal.modal-install size="lg" variant="success">install</b-button>
					</template>
				</b-card>

				<b-card
					class="shadow-sm m-3"
					
					header-bg-variant="transparent"
					header-border-variant="light"
					style="min-width: 20rem;"

					>
					<b-card-title v-on:click="showCategory(category)">
						Ethereum Integration
					</b-card-title>
					<b-card-text v-on:click="showCategory(category)">
						coming soon
					</b-card-text>
					<template v-slot:footer>
						<b-button v-b-modal.modal-install size="lg" variant="success" disabled>install</b-button>
					</template>
				</b-card>
			</b-card-group>
		</div>

		<b-modal
			id="modal-install"
			centered title="Unavailable"
			
			ok-title="OK">

			This page is a placeholder, Please check back later.

		</b-modal>

	</div>
</template>

<script>

import CONST from "../utils/constants.js"

export default {
	name: 'CATools',
	props: {
	},
	data(){
		return {
			fields: ['title'],
			categories: [],
			newCategoryTitle: "",
			newCategoryDescription: ""

		}
	},
	computed: {
		isAuhtorized(){
			const minlevel = CONST.USER_PRIVILEGE_BOARD;
			return (this.$store.state.privilege >= minlevel)
		},
		rows() {
        return this.items.length
      }
	},
	mounted() {
		this.renderListOfCategories();
	},
	methods: {

		renderListOfCategories(){
			this.axios
				.get(this.$API+'/categories/')
				.then(resp => {
					this.categories = resp.data
				})
				.catch(err => {
					window.console.log(err);
				});
		},
		showCategory(category) {
			this.$router.push({ name: 'category', params: { id: category._id } })
		},
		deleteCategory(category){
			if(!window.confirm("are you sure you want to delete category: "+category.title+"?\n\n Note: associated articles are not deleted, but may become hard to retreive. ")) return;
			this.axios
				.delete(this.$API+'/categories/'+category._id)
				.then(() => {
					this.renderListOfCategories();
					this.$store.commit('alertSuccess',"Removed category "+category.title)
				})
				.catch(err => {
					this.$store.commit('alertError',"Category could not be deleted")
					window.console.log(err);
				});
		},
		createNewCategory(e){
			this.axios
				.post(this.$API+'/categories/', {title: this.newCategoryTitle, description: this.newCategoryDescription})
				.then(() => {
					this.$bvModal.hide('modal-new-category')
					this.renderListOfCategories()
				})
				.catch(err => {
					window.console.log(err);
					this.$bvModal.hide('modal-new-category')
					this.$store.commit('alertError',"Please provide a title and description.")
				});

			e.preventDefault();

		}

	}

}
</script>

<style scoped lang="scss">




</style>
