<template>
	<div class="">
		
		<div class="my-3"> 
			<h1 class='display-4'>Draft vote</h1>
		</div>
		
			
			<b-card
				class=""
				no-body
				header-border-variant="light"
				

				border-variant="warning"
				
				header-bg-variant="warning"
				header-text-variant="white"
				align="left"
				>
				
				<div class="card-content mt-2">
					<b-form ref='form'>
						<div class="form-group">
							<label class="control-label text-light-grey" for="lockTitle">Title</label>
							
								<b-form-input 
								id="lockTitle" 
								ref="lockTitle" 
								name="lockTitle" 
								placeholder="Vote title" 
								class="form-control input-md h4 "
								v-model="articleLock.title"
								required
							/>

								
						</div>
						<hr>
						<div class="form-group mt-1">
							<label class="control-label text-light-grey" for="lockDescription">Description</label>
							<b-form-textarea 
								class="form-control" 
								ref="lockDescription" 
								id="lockDescription" 
								name="lockDescription" 
								placeholder="Describe the vote"
								v-model="articleLock.description"
								required
								rows="2"
								no-resize
							></b-form-textarea>

						</div>
						<hr>
						<div class="form-group mt-1">
							<label class="control-label text-light-grey" for="lockDueDate">Vote Due Date</label>
							<b-form-input 
								class="form-control" 
								type="date" 
								ref="lockDueDate" 
								id="lockDueDate" 
								name="lockDueDate" 
								v-model="articleLock.dueDate"
								required
							></b-form-input>
						</div>
						
						
					</b-form>

				</div>
				
			</b-card>
			<div style="display: flex; justify-content: center">
				<b-button class="big-button display-4 my-4" @click="checkFormAndShowModal" >Open vote</b-button>
			</div>
			
		

		<b-modal 
			id="modal-open-vote" 
			centered title="Open the vote"
			@ok="onOpenVote"
			>
							
			<p>You are about to open <b>{{ article.title }}</b> for a vote. Are you sure?</p>

			<template v-slot:modal-footer="{ ok, cancel, hide}">
				<b-button size="md" variant="outline-secondary" @click="cancel()">
					Cancel
				</b-button>
				<b-button size="md" variant="primary" @click="ok(), hide()">
					Open vote
				</b-button>				
			</template>			
		</b-modal>
	</div>
</template>

<script>

Date.prototype.getDateFieldFormat = (function(){
	let d = new Date(this);
	let _dateArr = [];

	_dateArr.push(d.getFullYear()); //yyyy
	_dateArr.push(('0' + (d.getMonth()+1)).slice(-2)); //m --> should be MM
	_dateArr.push(('0' + d.getDate()).slice(-2)); //m --> should be MM
	return _dateArr.join("-");
})	

export default {
	name: 'CAVote',
	props: ['article'],
	data(){
		return {
			articleLock: {
				title: "",
				description: "",
				dueDate: new Date().getDateFieldFormat()
			}
		}
	},
	computed: {},
	methods: {
		
		checkFormAndShowModal(){
			if(this.$refs['form'].reportValidity()) this.$bvModal.show('modal-open-vote');
		},
		onOpenVote(evt){
			evt.preventDefault();
			this.axios
			.post(this.$API+'/articles/'+this.$route.params.id+'/vote',{
				title: this.articleLock.title, 
				description: this.articleLock.description, 
				dueDate: this.articleLock.dueDate
			})
			.then(resp => {
				window.console.log(">>CA Vote > opened vote succesfully.",resp);
				this.$emit('updated');
				this.$store.commit('alertSuccess', "Succesfully opened the vote.");
			})
			.catch(err => {
				window.console.log(">>CA Vote > Error.",err);
				this.$store.commit('alertError', "Could not open the vote.");
			})
		}
	},
	mounted() {
		window.console.log("CAVote Mounted",this.article);
	}

}
</script>

<style scoped lang="scss">
	.CAVote{
		border: 1px solid red;
	}
</style>
