<template>
	<div class="justify-content-center  row">
		<div class="col-10">
			<div class="ca-img-thumbnail" v-bind:style="generateBgImage()">
				
			</div>

			<!-- section header with tool -->
			<div class="row mt-5 mb-2" >
				<div class="col" style="display: flex; justify-content: space-between; align-items: baseline">
					<h1>{{instance.title}}</h1>
					<div style="display: flex; justify-content: space-between; align-items: baseline">
						<b-button :to="{ name: 'setup', params: {}}" class='float-right tool-button ' v-if="isAuthorized" >
							<p class=""><img class="ml-2 tool-button-icon "  src="/img/icon_pencil_black.svg"/> Edit organisation</p> 
						
						</b-button>
					</div>
					
					
					
				</div>
			</div>

			<div class="mb-5">
				
				<p style="white-space: pre-wrap">
					{{instance.description}}
				</p>
				
			</div>			

		</div>

		<CAMyOpenVotes v-if="isAuthorized" />
		
	</div>
</template>

<script>

import CONST from "../utils/constants.js"
import CAMyOpenVotes from "./CAMyOpenVotes.vue"

export default {
	name: 'CAContainer',
	props: {
	},
	components: {
		CAMyOpenVotes
	},

	data() {
		return {

			title: "",
			image: "/img/abstract-coop.svg",
			description: "",
			createdAt: ""
			
		}
	},
	computed: {
		isAuthorized(){
			return (this.$store.state.privilege >= CONST.USER_PRIVILEGE_ADMIN)
		},
		instance(){
			return this.$store.state.instance;	
		}
	},
	mounted() {
		
	},
	methods: {
		formatDate(date){
			var d = new Date(date)
			return (d.getDate()+" "+CONST.months[d.getMonth()]+" "+d.getFullYear())		
		},
<<<<<<< HEAD
		pathToImage(){
			return this.image;
		},
		generateBgImage(){
			return `background-image: url('${this.pathToImage()}')`;
=======
		pathToImage(image){
			const remotePath =  this.$API.replace("api","");
			if(image){
				return remotePath+image;
			}else{
				return remotePath+"uploads/images/defaultUser.png";
			}
			
		},
		generateBgImage(){
			
			return `background-image: url('${this.pathToImage(this.image)}')`;
		
>>>>>>> 58729b0b20a2582c219e9afb8b736c3a15523f7b
		}
	}
}
</script>

<style scoped lang="scss">

.ca-img-thumbnail{
	width: 100%; 
	height: 18em; 
	overflow: hidden; 
	background-position: center center; 
	background-size: cover; 
}

</style>
