<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" type="text/css" href="font/fonts.css">
    <title>client</title>
  </head>
  <body>
    <noscript>
      <strong>To use this website, you have to enable javascript.</strong>
    </noscript>
    <div id="app"></div>
  </body>
</html>
